:root {
  /* SITE CONFIG */
  --maxContentWidth: 1440px;
  --sitePadding: 1rem;
  --sidenavWidth: 24rem;

  --contentFont: "";
  --displayFont: "Hanyi Fanglijian";
  --logoFont: "Caliph";

  /* MYTH WAR COLORS*/
  --clrSiteText: oklch(1 0 0);
  --clrSiteBg: #000;

  --clrGoldOuterTopFrameHighlight: oklch(0.894 0.098 95.14);
  --clrGoldOuterRightFrameHighlight: oklch(0.894 0.098 95.14);
  --clrGoldOuterBottomFrameHighlight: oklch(0.9223 0.0823 101.84);
  --clrGoldOuterLeftFrameHighlight: oklch(0.8164 0.121 91.13);

  --clrGoldInnerLineLight: oklch(0.7404 0.1316 85.76);
  --clrGoldInnerLineDark: oklch(0.3724 0.0947 43.1);

  --clrOverlayBg: oklch(0.1101 0.0763 264.05 / 90.59%);
  --clrInputLabel: oklch(0.7262 0.1483 70.77);

  --clrBrown: oklch(0.2604 0.0717 35.18);

  --gradientHeader: linear-gradient(to bottom, oklch(0.1768 0.1103 264.2), oklch(0.3484 0.1382 259.47));
  --gradientHeading: linear-gradient(to bottom, oklch(0.9737 0.154 109.34), oklch(0.7104 0.1355 72.07));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html {
  font-size: 62.5%;
  color: var(--clrSiteText);
  background: var(--clrSiteBg);
}
body {
  font-size: 1.6rem;
}
#app {
  min-height: 100dvh;
}
#sidenav-inset {
  padding-left: var(--sidenavWidth);
  transition: padding 0.3s ease-in-out;
}
main {
  max-width: var(--maxContentWidth);
  margin: 0 auto;
  padding: calc(var(--sitePadding) * 2) var(--sitePadding);
}
/**/
/* NORMALIZE */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--displayFont);
  font-weight: 400;
}
img,
svg {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
button svg {
  width: 1em;
  height: 1em;
}
a {
  color: inherit;
  text-decoration: none;
}
/**/
/* HELPERS */
.heading {
  font-family: var(--displayFont);
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.05rem var(--clrBrown);
  background: var(--gradientHeading);
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0.1rem 0.1rem 0 black);
}
/**/
/* SIDENAV */
.trigger-fixed {
  position: fixed;
  top: var(--sitePadding);
  left: var(--sitePadding);
  z-index: 99;
}
#sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: min(24rem, 100dvw);
  height: 100dvh;
  padding: var(--sitePadding);
  color: #fff;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  &[inert] {
    transform: translateX(-100%);
    ~ #sidenav-inset {
      padding-left: 0;
    }
  }
}
#sidenav-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--clrOverlayBg);
  border: 0.2rem ridge yellow;
}
#sidenav-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--displayFont);
  background: var(--gradientHeader);
}
#snh-left {
  padding: 0.2rem 0.4rem;
}
#snh-left span {
  padding: 0.4rem 0;
}
#sidenav-content {
  flex-grow: 1;
}
#sidebar-footer {
  flex-shrink: 0;
}
/**/
/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  #sidenav-inset {
    padding-left: 0;
  }
}
