:root {
  /* SITE CONFIG */
  --maxContentWidth: 1440px;
  --sitePadding: 1rem;
  --sidenavWidth: 32rem;

  --displayFont: "Zieruk", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  --contentFont: "system-ui", "sans-serif";
  --headingFont: "Hanyi Fanglijian", "Brush Script MT", "cursive", serif;

  --decorlinePad: 0.2rem 0.4rem;

  /* MYTH WAR COLORS*/
  --clrSiteText: oklch(1 0 0);
  --clrSiteBg: oklch(0.19 0.0608 278.71);

  --clrGoldOuterTopFrameHighlight: oklch(0.894 0.098 95.14);
  --clrGoldOuterRightFrameHighlight: oklch(0.894 0.098 95.14);
  --clrGoldOuterBottomFrameHighlight: oklch(0.9223 0.0823 101.84);
  --clrGoldOuterLeftFrameHighlight: oklch(0.8164 0.121 91.13);

  --clrGoldInnerLineLight: oklch(0.7404 0.1316 85.76);
  --clrGoldInnerLineDark: oklch(0.3724 0.0947 43.1);

  --clrGoldHeadingInnerLineLight: oklch(0.6764 0.1011 89.29);
  --clrGoldHeadingInnerLineDark: oklch(0.4564 0.0922 68.53);

  --clrOverlayBg: oklch(0.1101 0.0763 264.05 / 90.59%);
  --clrInputLabel: oklch(0.7262 0.1483 70.77);

  --clrBrown: oklch(0.2604 0.0717 35.18);

  --clrPurpleOverlay: oklch(0.14 0.0721 302.72 / 0.91);

  --gradientHeader: linear-gradient(to bottom, oklch(0.1768 0.1103 264.2), oklch(0.3484 0.1382 259.47));
  --gradientHeading: linear-gradient(to bottom, oklch(0.9737 0.154 109.34), oklch(0.7104 0.1355 72.07));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--contentFont);
  font-size: 62.5%;
  color: var(--clrSiteText);
  background: var(--clrSiteBg);
}
body {
  position: relative;
  font-size: 1.6rem;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/assets/bg-2k-blurred.webp") center / cover no-repeat;
  opacity: 0.2;
  will-change: transform;
  z-index: -2;
  pointer-events: none;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, var(--clrSiteBg) 10%, transparent, var(--clrSiteBg) 90%);
  z-index: -1;
  pointer-events: none;
}
#app {
  min-height: 100dvh;
}
#sidenav-inset {
  padding-left: var(--sidenavWidth);
  transition: padding 0.3s ease-in-out;
}
main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: var(--maxContentWidth);
  min-height: 100dvh;
  margin: 0 auto;
  padding: var(--sitePadding);
}
/**/
/* NORMALIZE */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  word-spacing: -0.2em;
}
img,
svg {
  display: block;
  max-width: 100%;
}
button {
  padding: 0.4rem;
  border: none;
  border-radius: 0.4rem;
  background: var(--clrBrown);
  box-shadow: inset 0.1rem 0.1rem oklch(from var(--clrBrown) calc(l * 1.8) c h),
    inset -0.1rem -0.1rem oklch(from var(--clrBrown) 0 c h);
  cursor: pointer;
}
button:hover,
button:focus-visible {
  box-shadow: inset 0 0 0.3rem 0.2rem var(--clrInputLabel);
}
button:active {
  box-shadow: inset 0 0 0.1rem 0.1rem oklch(from var(--clrBrown) 0 c h);
}
button svg {
  width: 1em;
  height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-position: inside;
}
hr {
  height: 0.2rem;
  box-shadow: inset 0 0 0.4rem #4d3807;
  border: none;
  -webkit-backdrop-filter: saturate(1.5);
  backdrop-filter: saturate(1.5);
}
table {
  border-collapse: collapse;
}
/**/
/* HELPERS */
.heading {
  display: block;
  font-family: var(--headingFont);
  font-size: 2rem;
  font-weight: 400;
  color: transparent;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.05rem var(--clrBrown);
  background: var(--gradientHeading);
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0.1rem 0.1rem black);
}
.papyrus {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem;
  color: oklch(0 0 1);
  border-radius: 0.2rem;
  background: url("/assets/papyrus.webp");
  box-shadow: inset 0 0 2rem oklch(0.2832 0.0538 84.31);
}
.papyrus-section > *:not(:last-child) {
  margin-bottom: 0.8rem;
}
.label {
  font-family: var(--headingFont);
  font-weight: 400;
  word-spacing: -0.2em;
  color: var(--clrInputLabel);
  -webkit-text-stroke: 0.05rem oklch(0 0 1);
}
/**/
/* DECOR LINE HELPER*/
#snh-left,
#sidenav-content,
.header-header,
.section-header,
.section-content {
  position: relative;
}
#snh-left::before {
  content: "";
  position: absolute;
  inset: var(--decorlinePad);
  border-radius: 0.2rem;
  border: 0.1rem solid transparent;
  background: linear-gradient(to right, var(--clrGoldHeadingInnerLineDark), var(--clrGoldHeadingInnerLineLight))
    border-box;
  mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
#sidenav-content::before {
  content: "";
  position: absolute;
  inset: var(--decorlinePad);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  background: linear-gradient(
      to right,
      var(--clrGoldInnerLineDark),
      var(--clrGoldInnerLineLight),
      var(--clrGoldInnerLineDark)
    )
    border-box;
  mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
.section-content::before {
  content: "";
  position: absolute;
  inset: var(--decorlinePad);
  border: 0.1rem solid var(--clrGoldInnerLineDark);
  pointer-events: none;
}
.header-header::before,
.section-header::before {
  content: "";
  position: absolute;
  inset: var(--decorlinePad);
  border-radius: 0.2rem;
  border: 0.1rem solid var(--clrGoldHeadingInnerLineLight);
  pointer-events: none;
}
/* SIDENAV */
.trigger-fixed {
  position: fixed;
  top: var(--sitePadding);
  left: var(--sitePadding);
  height: 3rem;
  width: 3rem;
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  z-index: 99;
}
#sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: min(var(--sidenavWidth), 100dvw);
  height: 100dvh;
  padding: var(--sitePadding);
  color: #fff;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  &[inert] {
    transform: translateX(-100%);
    ~ #sidenav-inset {
      padding-left: 0;
    }
  }
}
#sidenav-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--clrOverlayBg);
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  overflow: hidden;
}
#sidenav-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: var(--headingFont);
  background: var(--gradientHeader);
  border-bottom: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
}
#snh-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 0.2rem 1rem;
  overflow: hidden;
  border-right: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
}
#sidenav-header button {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 0;
}
#sidenav-content {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--clrGoldInnerLineLight) transparent;
}
#sidenav-content h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  color: var(--clrInputLabel);
  -webkit-text-stroke: 0.05rem oklch(0 0 1);
}
#sidenav-content ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}
#sidenav-content li {
  --padding: 1rem;
  position: relative;
  background: var(--clrPurpleOverlay);
  border-radius: 999rem 0 0 999rem;
  overflow: hidden;
}
#sidenav-content li:has(a.active) {
  background: linear-gradient(to right, oklch(0.535 0.1896 7.98), oklch(0.14 0.0721 302.72 / 0.91));
}
#sidenav-content li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 999rem 0 0 999rem;
  border: 0.2rem solid transparent;
  background: linear-gradient(to right, var(--clrGoldHeadingInnerLineDark), var(--clrGoldHeadingInnerLineLight))
    border-box;
  mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
#sidenav-content a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: var(--padding);
}
#sidenav-content a svg {
  width: 1.6rem;
  height: 1.6rem;
}
/**/
/* HOME */
main:has(#hero) {
  justify-content: center;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  position: relative;
  text-align: center;
  text-wrap: balance;
}
#hero h1 span:first-child {
  position: relative;
  display: block;
  font-family: var(--displayFont);
  font-size: clamp(4rem, 10vw, 8rem);
  -webkit-text-stroke: 1rem oklch(0.49 0.1838 259.24);
  line-height: 1;
  z-index: 1;
}
#hero h1 span:first-child::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1rem oklch(1 0 0);
  background: linear-gradient(to bottom, oklch(0 0 1), oklch(0.4019 0.234 264.84), oklch(0 0 1));
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0 0 0.2rem oklch(0.5 0.2801 267.62));
  z-index: 1;
  pointer-events: none;
}
#hero h1 span:last-child {
  font-family: "Tangerine";
  font-size: 3rem;
  text-shadow: 0 0 0.1rem oklch(0 0 1), 0 0 0.1rem oklch(0 0 1), 0 0 0.1rem oklch(0 0 1);
}
#home h2 {
  font-family: inherit;
}
/* CONTENT SECTION */
main .header,
main section {
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  background: var(--clrOverlayBg);
}
.header-header,
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--decorlinePad);
  font-family: var(--headingFont);
  background: var(--gradientHeader);
  overflow: hidden;
}
.header-header {
  padding: 0.8rem;
}
.header-header h1 {
  line-height: 1;
}
.header-header h1:not(:last-child) {
  margin-bottom: 0.4rem;
  line-height: 0.8;
}
.header-header p {
  word-spacing: -0.2em;
}
.header-header .heading,
.section-header .heading {
  font-size: 3.2rem;
}
.section-header {
  border-bottom: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
}
.section-content {
  padding: 1.6rem;
}
.section-content h3 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}
/* TIMELINE */
#timeline-section h3 {
  margin-bottom: 2.4rem;
}
#timeline-section hr {
  margin-block: 2.4rem;
}
.timeline {
  list-style: none;
}
.timeline li {
  --timelineGap: 4.8rem;
  display: grid;
  grid-template-columns: minmax(0, 6.4rem) minmax(0, 1fr);
  gap: var(--timelineGap);
}
.timeline time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--headingFont);
  font-size: 1.6rem;
  color: var(--clrInputLabel);
  -webkit-text-stroke: 0.05rem oklch(0 0 1);
  text-align: right;
  word-spacing: -0.2em;
}
.date-year {
  display: block;
}
.timeline-item-content {
  position: relative;
}
.timeline li:not(:last-child) .timeline-item-content {
  padding-bottom: 3.2rem;
}
.timeline li:not(:last-child) .timeline-item-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--timelineGap) / 2 * -1);
  height: 100%;
  border-left: 0.2rem solid var(--clrGoldInnerLineDark);
  transform: translateX(-50%);
}
.timeline-item-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--timelineGap) / 2 * -1);
  width: 1.2rem;
  height: 1.2rem;
  background: var(--clrGoldOuterLeftFrameHighlight);
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  transform: translateX(-50%) rotate(45deg);
}
.timeline-item-content h4 {
  font-size: 1.8rem;
  color: var(--clrInputLabel);
  -webkit-text-stroke: 0.05rem oklch(0 0 1);
}
.timeline-item-content p {
  word-break: break-word;
  opacity: 0.8;
}
.timeline:not(:last-child) {
  margin-bottom: 3.2rem;
}
/* WORLD */
#rarus-continent .section-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.6rem;
}
figure {
  position: relative;
  aspect-ratio: 16/9;
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  background: var(--clrPurpleOverlay);
  cursor: pointer;
}
figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
figcaption {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  padding: 1rem 1.4rem 1rem 1rem;
  text-wrap: balance;
  /* TODD: More side padding if I add ornament corner later */
  background: var(--clrPurpleOverlay);
  border-radius: 0 999rem 999rem 0;
  z-index: 1;
  max-width: 70%;
}
figcaption.label {
  font-size: clamp(1.4rem, 1.2vw, 1.8rem);
}
figure:hover figcaption,
figure:focus-visible figcaption {
  background: linear-gradient(
    to right,
    oklch(0.2775 0.1431 288.57),
    var(--clrPurpleOverlay),
    oklch(0.2775 0.1431 288.57)
  );
}
figcaption::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0 999rem 999rem 0;
  border: 0.2rem solid transparent;
  background: linear-gradient(
      to right,
      var(--clrGoldHeadingInnerLineLight),
      var(--clrGoldHeadingInnerLineDark),
      var(--clrGoldOuterLeftFrameHighlight)
    )
    border-box;
  mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
#regions hr {
  margin-block: 2.4rem;
}
.regions-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.6rem;
}
/* DIALOG */
dialog {
  display: flex;
  flex-direction: column;
  margin: auto; /* For some reason this centers both ways */
  color: inherit;
  border: 2px ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  background: var(--clrOverlayBg);
  height: 100dvh;
  width: 100%;
}
.dialog-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: var(--headingFont);
  background: var(--gradientHeader);
  border-bottom: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
}
.dh-left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 0.2rem 1rem;
  overflow: hidden;
  border-right: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
}
.dialog-header button {
  flex-shrink: 0;
  width: 3rem;
  height: minmax(3rem, 100%);
  border-radius: 0;
}
dialog::backdrop {
  backdrop-filter: blur(0.2rem);
}
.dialog-content {
  flex-grow: 1;
  --padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--clrGoldInnerLineLight) transparent;
}
.dialog-content .papyrus {
  width: 100%;
  height: 100%;
}
dialog .papyrus {
  position: relative;
}
dialog .react-transform-wrapper {
  height: 100%;
  width: 100%;
  z-index: 1;
}
dialog .rzpp-controls {
  position: absolute;
  top: 0.4rem;
  right: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  z-index: 2;
}
dialog .rzpp-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  color: var(--clrGoldInnerLineLight);
}
.soulstone-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 6.8rem;
  background-image: url("/assets/soulstone-idle.webp");
  animation: loader-anim 2.3s steps(25) infinite;
}
@keyframes loader-anim {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1500px;
  }
}
/* MAPS */
#maps ul {
  list-style: none;
}
#maps table {
  width: 100%;
  border: 0.2rem ridge var(--clrGoldInnerLineLight);
  border-radius: 0.4rem;
  background: oklch(0.21 0.0835 277.35 / 0.67);
}
#maps thead tr {
  font-family: var(--headingFont);
  font-weight: 400;
  word-spacing: -0.2em;
  color: var(--clrInputLabel);
  -webkit-text-stroke: 0.05rem oklch(0 0 1);
  background: oklch(0.26 0.1127 276.37);
  border-bottom: 0.2rem ridge var(--clrGoldInnerLineLight);
}
#maps th {
  font-size: 2.4rem;
  font-weight: 400;
  padding: 0.4rem 1rem;
}
#maps th:not(:last-child) {
  text-align: left;
}
#maps tbody {
  position: relative;
  vertical-align: top;
}
#maps tbody::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0.2rem 0.2rem oklch(0 0 1 / 0.5);
  pointer-events: none;
  z-index: 1;
}
#maps tbody tr:nth-child(odd) {
  background: oklch(0.21 0.0835 277.35 / 0.67);
}
#maps tbody tr:hover {
  background: linear-gradient(to right, oklch(0.2775 0.1431 288.57), transparent);
}
#maps tbody td {
  text-wrap: balance;
}
#maps tbody td:not(:last-child) {
  padding: 0.8rem 1rem;
}
#maps tbody td:last-child {
  position: relative;
}
#maps .map-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mask-image: linear-gradient(to right, transparent, black 20%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%);
  overflow: hidden;
}
#maps .map-preview span {
  display: none;
  position: absolute;
  top: 0.4rem;
  left: 0.8rem;
  text-align: left;
}
#maps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#maps tbody td:last-child:hover .map-preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: min(70dvw, 50rem);
  max-height: 60dvh;
  height: auto;
  object-fit: contain;
  border: 0.2rem ridge var(--clrGoldOuterLeftFrameHighlight);
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem 0.2rem oklch(0 0 1 / 0.5);
  mask-image: unset;
  -webkit-mask-image: unset;
  pointer-events: none;
  z-index: 999;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0.2rem 0.2rem oklch(0 0 1 / 0.5);
    z-index: 1;
  }
}
#maps tbody td:last-child:hover .map-preview span {
  display: block;
  font-size: clamp(1.4rem, 1.2vw, 2rem);
  filter: drop-shadow(0.1rem 0.1rem black) drop-shadow(0 0 0.5rem black);
}
.btn-download {
  position: relative;
  text-decoration: underline;
}
.btn-download svg {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 1em;
  height: 1em;
}
.btn-download:hover svg,
.btn-download:focus-visible svg {
  display: block;
}
/* AUDIO */
#audio {
  flex-grow: 1;
}
#audio .section-content {
  display: grid;
  grid-template-columns: minmax(0, 40rem) minmax(0, auto);
  gap: 1.6rem;
}
#audio-list-content {
  white-space: nowrap;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--clrGoldInnerLineLight) transparent;
}
#audio-controls {
  grid-column: span 2;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .regions-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 768px) {
  #sidenav-inset {
    padding-left: 0;
  }
}
@media only screen and (max-width: 578px) {
  .regions-grid {
    grid-template-columns: minmax(0, 1fr);
  }
  #maps thead {
    display: none;
  }
  #maps tbody tr {
    display: flex;
    flex-direction: column;
  }
  #maps tbody tr:not(:last-child) {
    border-bottom: 0.2rem ridge var(--clrGoldInnerLineLight);
  }
  #maps tbody td:first-child {
    font-weight: 700;
  }
  #maps tbody td:last-child {
    height: 4rem;
  }
}
